# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List some Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy

| Data Science Tools |
|--------------------|
| Apache Hadoop      |
| Jupyter            |
| R                  |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Mohammed Amine